.content-container {
  h2,
  h3 {
    margin-bottom: $margin-main;
  }

  .info-box-container {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .info-cards {
    margin: $margin-medium;
    img {
      width: 100%;
      height: 100%;
    }

    p {
      color: $black;
    }

    .text-box {
      text-align: center;
      h2 {
        margin-bottom: $margin-small;
      }
    }
  }

  .content-guarantee {
    margin: $margin-medium;
    text-align: center;
  }
}

.content-infos {
  @include center;
  background-color: $black;
  display: flex;
  padding: $padding-medium 0;
  flex-wrap: wrap;

  .info-box-container {
    @include center;
    flex-direction: column;
    max-width: 160px;
    width: 100%;
    text-align: center;
    padding: $padding-main 0;

    p {
      @include typography-p-small;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.content-quality {
  margin: $margin-medium;
  text-align: center;

  p {
    margin-bottom: $margin-main !important;
  }
}
