.intro-container {
  max-width: 1920px;
  margin: 0 auto;

  .intro-header {
    position: relative;
    width: 100%;

    .image-container {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .intro-text {
    @include center;
    position: absolute;
    width: 100%;
    flex-direction: column;
    text-transform: uppercase;
    color: $black;
    top: 10%;

    h1 {
      @include typography-title;
    }

    p {
      @include typography-p-main;
      font-weight: $weight-semi-bold;
    }

    span {
      @include typography-p-main;
      font-weight: $weight-max-bold;
    }
  }

  .text-containers {
    .row {
      text-align: center;
      margin: $margin-medium;
      h2 {
        @include typography-subtitle-small;
      }

      p {
        @include typography-p-main;
      }
    }

    .second.row {
      margin: 0;
      background-color: $black;
      h2,
      p {
        color: $white;
        padding: 0 $padding-medium $padding-medium-big $padding-medium;
      }

      h2 {
        padding: $padding-medium $padding-medium 0 $padding-medium;
        margin-bottom: $margin-main;
      }
    }
  }
}

@media (min-width: 1024px) {
  .intro-container {
    h2 {
      @include desk-typography-subtitle;
    }
    p {
      @include desk-typography-p-main;
    }
  }

  .image-container {
    img {
      height: 100vh !important;
      object-fit: cover;
      object-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .intro-text {
    text-align: center;
    top: 3% !important;
    h1 {
      @include desk-typography-title;
    }

    p {
      font-size: $desk-size-medium-big !important;
      line-height: $line-height-biggest !important;
      color: $black;
      font-weight: $weight-semi-bold !important;
    }

    span {
      @include desk-typography-subtitle;
      font-weight: $weight-max-bold;
    }
  }

  .text-containers {
    @include center;
    flex-direction: column;
    width: 100%;

    .row {
      width: 100%;
      @include center;
      flex-direction: column;

      h2,
      p {
        @include container-size;
      }
    }

    .first {
      margin-top: $margin-biggest !important;
    }

    .second {
      margin: $margin-biggest 0 !important;

      h2 {
        padding-top: 4.625rem !important;
        padding-bottom: $padding-medium !important;
      }

      p {
        padding-bottom: 4.625rem !important;
      }
    }

    .third {
      margin-bottom: $margin-biggest !important;
    }
  }
}
