/* Font size */

$size-small: 14px;
$size-main: 16px;
$size-medium: 24px;
$size-big: 32px;
$size-biggest: 40px;

/* Line Height */

$line-height-small: 18px;
$line-height-main: 18px;
$line-height-main: 22px;
$line-height-medium: 32px;
$line-height-big: 57.5px;
$line-height-biggest: 46px;

/* Font Weight */

$weight-regular: 400;
$weight-max-regular: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-max-bold: 900;

/* Font size Desktop */

$desk-size-main: 26px;
$desk-size-medium-big: 40px;
$desk-size-big: 50px;
$desk-size-biggest: 140px;

/* Line Height Desktop */

$desk-line-height-main: 33.8px;
$desk-line-height-medium-big: 45.2px;
$desk-line-height-big: 57.5px;
$desk-line-height-biggest: 158.2px;
