/* Padding */
$padding-main: 1rem;
$padding-medium: 1.5rem;
$padding-medium-big: 2.5rem;
$padding-big: 3rem;

/* Margin */

$margin-small: 0.5rem;
$margin-main: 1rem;
$margin-medium: 2rem;
$margin-medium-big: 2.5rem;
$margin-big: 3rem;
